# Compiled stuff
*.pyc
*.pyo
doc/_build
build
*.so

# Crap created by version control
.orig
.rej

# Files created by distutils
MANIFEST
dist
*.egg-info
.cache

# OS X
.DS_Store

# Other *nix:es
.~

# ?
index-*.html

# Custom
venv*
Pipfile
test/core.*
.eggs/
.idea/
coverage/
.coverage
