name: Build

on: [push, pull_request]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]

    steps:
      - uses: actions/checkout@v2

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.3.1
        env:
          CIBW_ARCHS: native
          CIBW_SKIP: "pp37-* pp38-* pp39-* *-musllinux_*"
          CIBW_TEST_REQUIRES: pytest
          CIBW_TEST_COMMAND: python {package}/test/debug.py 100 && pytest {package}

      - uses: actions/upload-artifact@v2
        with:
          path: ./wheelhouse/*.whl
  
  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Build sdist
        run: pipx run build --sdist

      - uses: actions/upload-artifact@v2
        with:
          path: dist/*.tar.gz
  
  build_purepy:
    name: Build pure Python distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Build pure py
        run: python setup.py py bdist_wheel

      - uses: actions/upload-artifact@v2
        with:
          path: dist/*-py3-none-any.whl
