name: Build primary wheels

on:
  push:
    branches:
      - master
    tags:
      - v*
  pull_request:
    paths:
      - '**'
  workflow_dispatch:

jobs:
  build_wheels:
    name: Build primary wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            cibw_archs: "native"
          - os: windows-latest
            cibw_archs: "native"

    steps:
      - uses: actions/checkout@v3

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.2.1
        env:
          CIBW_ARCHS: ${{ matrix.cibw_archs }}
          CIBW_SKIP: cp31[!0]{t,}-* *-musllinux_*
          CIBW_BUILD_FRONTEND: build[uv]
          CIBW_TEST_REQUIRES: pytest typing_extensions mypy
          CIBW_TEST_COMMAND: > 
            python -X faulthandler {package}/test/debug.py && 
            python -X faulthandler -m pytest -p no:faulthandler -s {package} &&
            python {package}/test/run_type_checker.py

      - uses: actions/upload-artifact@v4
        with:
          name: primary_wheel_artifact_${{ matrix.os }}
          path: ./wheelhouse/*.whl

  build_pure_py:
    name: Build and test pure py wheel
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build module
        run: FROZENDICT_PURE_PY=1 pipx run build --wheel

      - name: Install dependencies
        run: pip install -U pip pytest pytest-cov typing_extensions mypy

      - name: Install module
        run: pip install dist/*
      
      - name: Run tests
        run: pytest --cov=frozendict --cov-report=term-missing --cov-branch --cov-fail-under=100  &&
            python test/run_type_checker.py

      - uses: actions/upload-artifact@v4
        with:
          name: pure_py_wheel_artifact
          path: ./dist/*
