name: Build secondary wheels

on:
  push:
    tags:
      - v*
  pull_request:
    paths: 
      - '**'
  workflow_dispatch:

jobs:
  build_wheels:
    name: Build secondary wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            cibw_archs: x86_64 i686
            frontend: build[uv]
          - os: ubuntu-24.04-arm
            cibw_archs: aarch64 armv7l riscv64
            frontend: build[uv]
          - os: windows-latest
            cibw_archs: all
            frontend: build[uv]
          - os: macos-latest
            cibw_archs: all
            frontend: build[uv]

    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies
        run: pip install -U pip uv

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.2.1
        env:
          CIBW_ARCHS: ${{ matrix.cibw_archs }}
          CIBW_SKIP: cp31[!0]{t,}-* *-manylinux_x86_64 *-win_amd64
          CIBW_BUILD_FRONTEND: ${{ matrix.frontend }}
          CIBW_TEST_REQUIRES: pytest typing_extensions mypy
          CIBW_TEST_COMMAND: > 
            python -X faulthandler {package}/test/debug.py && 
            python -X faulthandler -m pytest -p no:faulthandler -s {package} &&
            python {package}/test/run_type_checker.py

      - uses: actions/upload-artifact@v4
        with:
          name: secondary_wheel_artifact_${{ matrix.os }}
          path: ./wheelhouse/*.whl

  build_wheels_qemu:
    name: Build secondary wheels with QEMU on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            cibw_archs: ppc64le s390x
            frontend: build[uv]

    steps:
      - uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all

      - name: Install dependencies
        run: pip install -U pip uv

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.2.1
        env:
          CIBW_ARCHS: ${{ matrix.cibw_archs }}
          CIBW_SKIP: cp31[!0]{t,}-* *-manylinux_x86_64 *-win_amd64
          CIBW_BUILD_FRONTEND: ${{ matrix.frontend }}
          CIBW_TEST_REQUIRES: pytest typing_extensions mypy
          CIBW_TEST_COMMAND: > 
            python -X faulthandler {package}/test/debug.py && 
            python -X faulthandler -m pytest -p no:faulthandler -s {package} &&
            python {package}/test/run_type_checker.py

      - uses: actions/upload-artifact@v4
        with:
          name: secondary_wheel_qemu_artifact_${{ matrix.os }}
          path: ./wheelhouse/*.whl

  build_old_wheels:
    name: Build old wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            cibw_archs: x86_64 i686
            frontend: build[uv]
          - os: ubuntu-24.04-arm
            cibw_archs: aarch64 armv7l
            frontend: build[uv]
          - os: windows-latest
            cibw_archs: all
            frontend: build[uv]
          - os: macos-latest
            cibw_archs: all
            frontend: build[uv]

    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies
        run: pip install -U pip uv

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.23.3
        env:
          CIBW_ARCHS: ${{ matrix.cibw_archs }}
          CIBW_BUILD: cp3[67]-*
          CIBW_BUILD_FRONTEND: ${{ matrix.frontend }}
          CIBW_TEST_REQUIRES: pytest typing_extensions mypy
          CIBW_TEST_COMMAND: > 
            python -X faulthandler {package}/test/debug.py && 
            python -X faulthandler -m pytest -p no:faulthandler -s {package} &&
            python {package}/test/run_type_checker.py

      - uses: actions/upload-artifact@v4
        with:
          name: old_wheel_artifact_${{ matrix.os }}
          path: ./wheelhouse/*.whl

  build_old_wheels_qemu:
    name: Build old wheels with QEMU on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            cibw_archs: ppc64le s390x
            frontend: build[uv]

    steps:
      - uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.23.3
        env:
          CIBW_ARCHS: ${{ matrix.cibw_archs }}
          CIBW_BUILD: cp3[67]-*
          CIBW_BUILD_FRONTEND: ${{ matrix.frontend }}
          CIBW_TEST_REQUIRES: pytest typing_extensions mypy
          CIBW_TEST_COMMAND: > 
            python -X faulthandler {package}/test/debug.py && 
            python -X faulthandler -m pytest -p no:faulthandler -s {package} &&
            python {package}/test/run_type_checker.py

      - uses: actions/upload-artifact@v4
        with:
          name: old_wheel_quemu_artifact_${{ matrix.os }}
          path: ./wheelhouse/*.whl

  build_sdist:
    name: Build sdist
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build sdist
        run: pipx run build --sdist

      - name: Install dependencies
        run: pip install -U pip pytest pytest-cov typing_extensions mypy

      - name: Install module
        run: pip install dist/*

      - name: Run tests
        run: pytest --cov=frozendict --cov-report=term-missing --cov-branch --cov-fail-under=100  &&
          python test/run_type_checker.py

      - uses: actions/upload-artifact@v4
        with:
          name: sdist_artifact
          path: ./dist/*
